{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Привет, Мир!</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">

</head>
<body>
    <img src="{% static 'logo.svg' %}" alt="Логотип">

    <h1>Привет, Мир!</h1>
    <h2>Это учебный сайт, с его помощью будут изучены технологии 
        python/django, html/css.</h2>
    <h3>Как видите, здесь используются заголовки различных уровней.</h3>

    <!-- Заголовок списка как h4 -->
    <h4>Здесь есть маркированный список:</h4>
    <ul>
        <li>Элемент 1;</li>
        <li>элемент 2;</li>
        <li>элемент 3;</li>
        <li>последний элемент.</li>
    </ul>

    <h4>И нумерованный список:</h4>
    <ol>
        <li>Элемент 1;</li>
        <li>элемент 2;</li>
        <li>элемент 3;</li>
        <li>последний элемент.</li>
    </ol>

    <p>И даже таблица:</p>

    <!-- Таблица с границами, 2 дополнительных столбца и 2 дополнительные строки -->
    <table style="border-collapse: collapse; width: 100%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Столбик 1</th>
                <th style="border: 1px solid #000;">Столбик 2</th>
                <th style="border: 1px solid #000;">Столбик 3</th>
                <th style="border: 1px solid #000;">Столбик 4</th>
                <th style="border: 1px solid #000;">Столбик 5</th>
                <th style="border: 1px solid #000;">Столбик 6</th>
            </tr>
        </thead>
        <tr>
            <td style="border: 1px solid #000;">Строка 1 Столбец 1</td>
            <td style="border: 1px solid #000;">Строка 1 Столбец 2</td>
            <td style="border: 1px solid #000;">Строка 1 Столбец 3</td>
            <td style="border: 1px solid #000;">Строка 1 Столбец 4</td>
            <td style="border: 1px solid #000;">Строка 1 Столбец 5</td>
            <td style="border: 1px solid #000;">Строка 1 Столбец 6</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000;">Строка 2 Столбец 1</td>
            <td style="border: 1px solid #000;">Строка 2 Столбец 2</td>
            <td style="border: 1px solid #000;">Строка 2 Столбец 3</td>
            <td style="border: 1px solid #000;">Строка 2 Столбец 4</td>
            <td style="border: 1px solid #000;">Строка 2 Столбец 5</td>
            <td style="border: 1px solid #000;">Строка 2 Столбец 6</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000;">Строка 3 Столбец 1</td>
            <td style="border: 1px solid #000;">Строка 3 Столбец 2</td>
            <td style="border: 1px solid #000;">Строка 3 Столбец 3</td>
            <td style="border: 1px solid #000;">Строка 3 Столбец 4</td>
            <td style="border: 1px solid #000;">Строка 3 Столбец 5</td>
            <td style="border: 1px solid #000;">Строка 3 Столбец 6</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000;">Строка 4 Столбец 1</td>
            <td style="border: 1px solid #000;">Строка 4 Столбец 2</td>
            <td style="border: 1px solid #000;">Строка 4 Столбец 3</td>
            <td style="border: 1px solid #000;">Строка 4 Столбец 4</td>
            <td style="border: 1px solid #000;">Строка 4 Столбец 5</td>
            <td style="border: 1px solid #000;">Строка 4 Столбец 6</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000;">Строка 5 Столбец 1</td>
            <td style="border: 1px solid #000;">Строка 5 Столбец 2</td>
            <td style="border: 1px solid #000;">Строка 5 Столбец 3</td>
            <td style="border: 1px solid #000;">Строка 5 Столбец 4</td>
            <td style="border: 1px solid #000;">Строка 5 Столбец 5</td>
            <td style="border: 1px solid #000;">Строка 5 Столбец 6</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000;">Строка 6 Столбец 1</td>
            <td style="border: 1px solid #000;">Строка 6 Столбец 2</td>
            <td style="border: 1px solid #000;">Строка 6 Столбец 3</td>
            <td style="border: 1px solid #000;">Строка 6 Столбец 4</td>
            <td style="border: 1px solid #000;">Строка 6 Столбец 5</td>
            <td style="border: 1px solid #000;">Строка 6 Столбец 6</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000;">Строка 7 Столбец 1</td>
            <td style="border: 1px solid #000;">Строка 7 Столбец 2</td>
            <td style="border: 1px solid #000;">Строка 7 Столбец 3</td>
            <td style="border: 1px solid #000;">Строка 7 Столбец 4</td>
            <td style="border: 1px solid #000;">Строка 7 Столбец 5</td>
            <td style="border: 1px solid #000;">Строка 7 Столбец 6</td>
        </tr>
    </table>
</body>
</html>
